/* Navbar.css */
.sausage-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1000;
}

.sausage-3d-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}