/* App.css */
.App {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}